.hero-container{
    background: url('../../public/Images/Fondo3.jpg') center center/cover no-repeat;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 0  0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    display: flex;
    height: 100vh;
    align-items: center;
}
.hero-container h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
}
.hero-container p{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width:960px){
    .hero-container{
        height: 100vh;
    }
    .hero-container h1{
        font-size: 2rem;
        margin-top: 10rem;
    }
    .hero-container p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px){
    .hero-container{
        height: 100vh;
    }
    .hero-container h1{
        font-size: 3rem;
        margin-top: 10rem;
    }
    .hero-container p{
        font-size: 1.5rem;
    }
}