* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.Information,
.Contact {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.Information {
  background-image: url('../public/Images/Fondo2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px;
}

.Information h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.Information p {
  font-size: 30px;
  margin-bottom: 10px;
}

.Contact {
  background-image: url('../public/Images/Fondo4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact h1 {
  color: #fff;
  font-size: 60px;
  padding: 10px;
}

.Contact p {
  color: #fff;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .home,
  .Information,
  .Contact {
    flex-direction: column;
    font-size: 2rem;
    padding: 10px;
  }

  .Information h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .Information p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .Contact h1 {
    font-size: 40px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .Contact p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
